<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Oh yeah yeah Oh yeah yeah.">
    <link rel="shortcut icon" href="https://cdn.glitch.com/cacc8a72-bde6-4e3e-9adf-952322547945%2Ficonfinder_256_colors_131813.ico?1549533479962" type="image/x-icon">
    <title>Kokoda.</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
  </head>  
  <body>
    <h1><pink>Hello!</pink></h1>
    
    <p>
    <pink>
      <size14>Welcome! </size14>
      <size13>I am a drawer, gamer!</size13>
      Artists/writers/studios that I adore.
      - Reki Kawahara 
      - A1 Pictures 
      - Yuyuko Takemiya 
      - Kakifly 
      <a href="adore">Their pictures.</a>
      
      </pink>
    </p>

  </body>
</html>
